<%# encoding: UTF-8 %>
<!DOCTYPE html>
<html lang="ja">
	<%= render partial: '_head', locals: { styles: ['reset', 'global', 'color', 'header', 'main']} %>
	<body>
		<%= render partial: '_header' %>
		<main class="container">
			<div class="time-wrapper">
				<time id="time">0:00</time>
				<time id="date">01/01(日)</time>
			</div>
			<div class="tasks">
				<% @tasks && @tasks.each do |task| %>
				<div class="task">
					<a href="/edit/<%= task['id'] %>">
						<div class="time-range">
							<p>
								<time class="start-time" datetime="<%= task['start_time'] %>"><%= task['start_time'] %></time>
								-
								<time class="end-time" datetime="<%= task['end_time'] %>"><%= task['end_time'] %></time>
							</p>
						</div>
						<div class="task-footer">
							<div class="task-name"><%= task['name'] %></div>
							<div class="task-status" role="status"></div>
							<div class="switch-wrapper">
								<input type="checkbox" id="switch1" />
								<label for="switch1">
									<div id="toggle" class="toggle-button"></div>
								</label>
							</div>
						</div>
					</a>
				</div>
				<% end %>
			</div>
		</main>

		<script src="/js/main.js"></script>
	</body>
</html>
