<%# encoding: UTF-8 %>
<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Time Task</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/global.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/main.css" />
		<script src="https://kit.fontawesome.com/5ba856e811.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<header>
			<div class="title">
				<a href="/">
					<h1>Time Task</h1>
				</a>
			</div>

			<!-- モバイル用nav menu -->
			<div class="hamburger-menu" onclick="showSidebar()">
				<a class="icon-wrapper" href="#">
					<i class="fa-solid fa-bars"></i>
				</a>
			</div>
			<!-- ハンバーガーメニューを押したら表示 -->
			<nav class="sidebar">
				<ul>
					<li onclick="hideSidebar()">
						<a href="#"><i class="fa-solid fa-xmark"></i></a>
					</li>
					<li><a href="/new">追加</a></li>
					<li><a href="/edit">編集</a></li>
					<li><a href="/history">履歴</a></li>
				</ul>
			</nav>
			<!-- デスクトップ用nav menu -->
			<nav class="hide-on-mobile">
				<ul>
					<li><a href="/new">追加</a></li>
					<li><a href="/edit">編集</a></li>
					<li><a href="/history">履歴</a></li>
				</ul>
			</nav>
		</header>
		<main class="container">
			<div class="time-wrapper">
				<time id="time">0:00</time>
				<time id="date">01/01(日)</time>
			</div>
			<% @tasks.each do |task|%>
			<div class="tasks">
				<% @tasks && @tasks.each do |task| %>
				<div class="task">
					<div class="time-range">
						<p>
							<time class="start-time" datetime="<%= task['start_time'] %>"><%= task['start_time'] %></time>
							-
							<time class="end-time" datetime="<%= task['end_time'] %>"><%= task['end_time'] %></time>
						</p>
					</div>
					<div class="task-footer">
						<div class="task-name"><%= task['name'] %></div>
						<div class="task-status" role="status"></div>
						<%= task['fine'] %>
						<div class="switch-wrapper">
							<input type="checkbox" id="switch1" disabled/>
							<label for="switch1">
								<div id="toggle" class="toggle-button"></div>
							</label>
						</div>
						<div id="modal" class="modal">
							<div class="modalContent">
								<span class="closeButton"></span>
								<p id="modalText">ここにメッセージが表示されます。</p>
							</div>
						</div>

					</div>
				</div>
			</div>
			<% end %>
		</main>
		<script src="js/main.js"></script>
		<script type='module' src="js/time.js"></script>

	</body>

</html>
